/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px;
  /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  /* note the padding around a left floated image */
}

/*.bodyCont {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      max-width: 1350;
  }*/

/******************************************
  /* BASE STYLES
  /*******************************************/

body {
  color: #000;
  font-size: 12px;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
}


/******************************************
  /* LAYOUT
  /*******************************************/
#navLogo {
  width: 10em;
}

.nav-item {
  font-size: 20px;
}

.mainSearchBox {
  width: 75%;
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
.heading {
  display: grid;
  width: 70%;
  margin: auto;
  padding: 30px 0px 30px 30px;
  border-bottom: 1px solid lightblue;
}

h1 {
  color: lightslategrey;
  text-align: center;
  margin-top: 42px;
}

.listedQuestions {
  display: flex;
  justify-content: flex-start;
  width: 65%;
  margin: 65px;
  margin-bottom: 45px;
}

.break {
  display: grid;
  width: 70%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 65px;
  border-bottom: 1px solid lightblue;
}

.questionsWithAnswers {
  display: flex;
  width: 65%;
  margin: auto;
}

.questionLinksUl {
  color: #569ce2;
}

.questionAndAnswerUl {
  list-style: none;
}

.questionList {
  margin-bottom: 7px;
}

.questionLinks {
  text-decoration: none;
  color: #569ce2;
  font-size: 17px;
}

.questionsBeforeAnswer {
  color: lightslategrey;
}

.answers {
  color: #569ce2;
  font-size: 20px;
  margin-left: 48px;
}

/*********** FOOTER ***********/
.footer {
  width: 100%;
  height: auto;
}

.footerUlOne {
  color: white;
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* width: 12%; */
  /* float: left; */
}

.footerUlTwo {
  color: white;
  list-style: none;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* width: 23%; */
  align-content: flex-start;
  float: left;
}

.footerLi a {
  color: white;
  font-size: 13px;
  padding: 5px;
}

.contactDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactUl {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.contactLi {
  font-size: 18px;
}

.contactLi a {
  text-decoration: none;
  color: white;
  margin: 20px;
}

.footerImg {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.footerLogo {
  width: 50%;
}

#gradientLogo {
  width: 25em;
}

#gradient-custom {
  display: flex;
  margin-top: 20p;
  background: #007de8;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(161, 195, 219, 1), rgba(0, 125, 232, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(161, 195, 219, 1), rgba(0, 125, 232, 1));
  flex-direction: row;
  justify-content: center;
}