/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
}



/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     overflow-y: scroll;
     height: 100vh;
     display: flex;
     flex-direction: column;
}


/******************************************
/* LAYOUT
/*******************************************/
#navLogo{
    width: 10em;
}
.footer{
    width: 100%;
    height: 10em;
}
#gradientLogo{
  width: 25em;
}
  #gradient-custom {
  /* fallback for old browsers */
  background: #007de8;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(161, 195, 219, 1), rgba(0, 125, 232, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(161, 195, 219, 1), rgba(0, 125, 232, 1))
}
/* ************************ PAGE CONTENT BELOW ***************** */
form{
  display: flex;
  width: 75%;
  height: 100%;
  justify-content: space-evenly;
}
.mainSearchBox{
  width: 85%;
  height: 40px;
  margin-left: 30px;
  font-size: 20px;
  color: #569ce2;
}
.mainSearchBox:focus-visible{
 outline: none;
}
.searchPage{
      height: -webkit-fill-available;
}
.scrollbar ul li a{
  display: flex;
} 
.scrollbar ul li a i{
  height: 100%;
  margin-top: 30px;
}
.searchField{
  display: flex;
  width: 78%;
  gap: 10px;
  justify-content: center;
  margin: auto;
  padding: 50px 0px;
  border-bottom: 1px solid lightblue;
}
.searchResults{
  display: flex;
  width: 78%;
  gap: 10px;
  justify-content: center;
  margin: auto;
  padding: 50px 0px;
}
#searchList{
  list-style: none;
}
#searchBar::placeholder{
  font-size: 1rem;
  color: #569ce2;
  padding: 10px;
}
a{
  text-transform: capitalize;
  text-decoration: none;
  color: #569ce2;
}
li{
  margin-bottom: 15px;
  font-size: 20px;
  color: #569ce2;
}
.btn-primary {
  color: #fff;
  background-color: #569ce2;
  border-color: #569ce2;
  height: 40px;
  width: 80px;
  font-size: 20px;
  border-style: none;
  border-radius: 5px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/